<%= form_with(model: link) do |form| %>
  <% if link.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
        <% link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :url, style: "margin-right: 20px" %>
    <%= form.text_field :url %>
  </div>

  <div style="margin: 10px 0 30px">
    <%= form.fields_for :link_configurations do |lc_form| %>
      <div style="display:flex;">
        <%= lc_form.label :title, style: "margin-right: 20px" %>
        <%= lc_form.text_field :title %>
      </div>

      <div style="display:flex;">
        <%= lc_form.label :description, style: "margin-right: 20px" %>
        <%= lc_form.text_field :description %>
      </div>

      <div style="display:flex;">
        <%= lc_form.label :image, style: "margin-right: 20px" %>
        <%= lc_form.select :image, ["/backgrounds/default-red.png", "/backgrounds/default-white.png"] %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
